/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation
 *= require foundation_and_overrides

 *=

 */

aside > img {
  height: 50px;
  width: 50px;
}

h2, h3 {
  font-size: 0.75em;
}
.driver-form > form {
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr 1.5fr;
  grid-gap: 20px;
}

.name, .make {
  grid-column: 2 / span 1;
}

.vin, .model {
  grid-column: 3 / span 1;
}
.submit-btn {
  grid-column: 2 / span 2;
}
.trip-details > h2 {
  font-size: 1.2em;
  font-weight: bolder;
  display: grid;
}

.passenger-header {
  display: grid;
  grid-template-columns: 1fr 150px 100px 1fr;
  grid-gap: 20px;
}

.passenger-img {
  grid-column: 2 / span 1;
}

section.passenger-name {
  grid-column: 3 / span 1;
}

section.passenger-phone {
  grid-column: 2 / span 1;
}

.passenger-paid {
  grid-column: 3 / span 1;
}

.driver-header {
  display: grid;
  grid-template-columns: 1fr 150px 150px 1fr;
  grid-gap: 20px;
  margin-top: 10px;
}

.driver-header > img {
  grid-column: 2 / span 1;
}

.driver-make {
  grid-column: 2 / span 1;
}

.driver-header > h1 {
  grid-column: 3 / span 1;
}

.driver-rating {
  grid-column: 3 / span 1;
}

.driver-earnings {
  grid-column: 2 / span 1;
}
.driver-header > form {
  grid-column: 3 / span 1;
}

label {
  font-weight: bolder;
  color: navy;
}

.pagination, .pagination::before, pagination::after {
  display: inline;
}

.driver-list ul, .driver-list li, .driver-list li section, .driver-list li section h2 {
  display: inline;
}

span.page, span.current, .pagination a, .pagination button {
  display: inline;
}

.driver-picture {
  display: inline-block;
}

.form-title {
  font-weight: bold;
  font-size: 1.5em;
  color: navy;
  text-align: center;
}
section.driver {
  margin: 5px;
}
.submit-btn {
  text-align: center;
}

.passenger-form > form {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 1fr;
  grid-gap: 20px;
}

.passenger-name {
  grid-column: 2 / span 1;
}

.passenger-phone {
  grid-column: 3 / span 1;
}


.driver-list {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 2fr;
  grid-gap: 20px;
  margin: 20px;
}

.pagination-header {
  grid-column: 1 / span 3;
}

.pagination {
  grid-column: 1 / span 4;
}

.passenger-list {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3, 1fr)
}
